<% if current_user %>
  <% if User.find_by(portal_id: current_user).present?%>
    <% if (user = User.find_by(portal_id: current_user)).facilities.present? %>
    <% notify = 0 %>
    <% User.find_by(portal_id: current_user).facilities.each do |f| %>
    <% notify += f.rents.where(saw: false).count %>
    <% end %>
  <% end %>
  <% end %>
<% end %>

<div class="tab-content">
<div class="tab-pane fade in active" id="list" style="padding-top:25px; width:90vw; height:101vh;">
    <h2>設施清單</h2>
    <div class="row">
      <div class="col-md-3">
      <input class="form-control col-md-2" type="text" name="content" id="search-content" placeholder="搜尋..."></input>
      </div>
      <div class="col-sm-2">
      <select class="form-control" id="key-word" name="key-word">
        <option value="name">名稱</option>
        <option value="description">描述</option>
        <option value="id">編號</option>
      </select>
      </div>
    </div>
  <div id="facilities-list">
  <table class="table table-hover" style="width:100%; max-height:100%;">
  <thead>
    <tr>
      <th></th>
      <th>名稱</th>
      <th>描述</th>
      <th>審核制</th>
      <th>會員制</th>
    </tr>
  </thead>
  <tbody>
    <% if params[:page_list].present? %>
      <% offset = (params[:page_list].to_i-1)*10  %>
    <% elsif !(params[:page_list] =~ /[0-9]*/) %>
      <% params[:page_list]=="donotfuckmeplease" %>
      <% offset = 0 %>
    <% else %>
      <% offset = 0 %>
    <% end %>
    <% facilities = Facility.limit(10).offset(offset) %>
    <% facilities.each do |t| %>
      <tr type="button"  class='clickable-row' data-href="/facilities/<%= t.id%>?next_week=0">
      <th><%= t.id %></th>
      <td><%= t.name.to_s %></td>
      <td><%= t.description.to_s %></td>
      <td><%= t.verify.to_s %></td>
      <td><%= t.membership.to_s %></td>
      </tr>
    <% end %>
  </tbody>
  </table>
  </div>
<nav>
  <ul class="pagination">
    <li <% if offset == 0 %>class="disabled"<% end %> >
      <a href="/facilities?page_list=<%raw params[:page_list].to_i - 1 %>" ><span>&laquo;</span></a>
    </li>
    <% page_limit = Facility.count / 10 + 1 %>
    <% for i in 1..page_limit %>
      <li><a href="/facilities?page_list=<%=raw i %>"><%= i %></a></li>
    <% end %>
    <li <% if page_limit <= offset/10+1  %> class="disabled" <% end %>><a href="/facilities?page_list=<%=raw params[:page_list].to_i+1 %>">&raquo;</a></li>
  </ul>
</nav>
</div>
<div class="tab-pane fade" id="admin" style="width:90vw; height:101vh; padding-top:25px;">
  <h2>管理清單</h2>
  <% if current_user.present?%>
    <table id="list-table" class="table table-hover" style="width:100%; max-height:100%;">
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Description</th>
          <th>Verification</th>
          <th>MemberLimit</th>
        </tr>
      </thead>
      <tbody>
      <% if User.find_by(portal_id: current_user).nil? %>
        <span>There is no facility.</span>
      <% else %>
        <% if User.find_by(portal_id: current_user).present? %>
        <% User.find_by(portal_id: current_user).facilities.each do |t|  %>
          <tr class='clickable-adm' data-href="/facilities/<%= t.id%>/edit" data-id="<%=t.id %>" >
          <% f_notify = t.rents.where(saw: false).count %>
          <th class="notify-parent"><% if(f_notify>0) %><span class="notify-num-table"><%= f_notify %></span><% end %>
          <%= t.id %></th>
          <td><%= t.name.to_s %></td>
          <td><%= t.description.to_s %></td>
          <td><%= t.verify.to_s %></td>
          <td><%= t.membership.to_s %></td>
          </tr>
        <% end %>
        <% end %>
      <% end %>
      </tbody>
    </table>
  <% end %>
</div>
<div class="tab-pane fade" id="create" style="width:90vw; height:101vh; padding-top:25px;">
  <h2>新增設施</h2>
  <%=render 'new' if current_user.present? %>
  <p><%= "Please login first to create your own facilities..." if current_user.nil? %></p>
</div>
<% content_for :index do %>
  <ul class="nav navbar-nav nav-pills navbar-btn">
    <li class="active">
      <a data-toggle="tab" class="active notify-parent" href="#list" id="listtab">清單</a>
    </li>
    <li>
      <a data-toggle="tab" href="#admin" class="notify-parent" id="admintab"><% if(notify!=0 && notify.present?) %><span class="notify-num"><%=notify%></span><% end %>管理</a>
    </li>
    <li>
      <a data-toggle="tab" href="#create" id="newtab">新增</a>
    </li>
  </ul>
<% end %>
<div class="modal fade" id="adminmodal">
  <span>error</span>
</div>
  <script>
$(document).on('turbolinks:load', function(){
  $(".clickable-adm").click(function() {
    window.week = 0
    let the_row = $(this)
    window.nowadm = $(this)
    $.ajax( { url :$(this).data('href'), success: function(res){
      $('#adminmodal').html(res).promise().done(function (){
          $('#adminmodal').modal('show')
          window.admin_id = the_row.data('id')
        $(document).ready()

        $.ajax({url :window.nowadm.data('href')+'/table', success: function(r){
          $('#displayByTable').html(r).promise().done(function(){
            $(document).ready()
          })
        }})

        })
//        $('#adminmodal').html(res)
//        $('#adminmodal').modal('show')
//        $(document).ready()
    }})
  })
  $(document).on('click','.clickable-row' ,function(){window.location=$(this).data('href')})
//  $(".clickable-row").click(function(){
//    window.location=$(this).data('href')
//  })
})
  </script>

<% if flash[:notice]=='out' %>
  <%=render 'logout' %>
  <script>
$(document).on('turbolinks:load', function(){
  $('#logout').modal('show');
  $('a#logout-portal-link').click(function() {
    $('#logout').modal('hide');
  });
})
  </script>
<% end %>


<% if flash[:notice] == 'limit' %>
  <script>
    alert('The user is not allowed for the membership of the facility.　您並非該設施的核准的成員')
  </script>
<% end %>

<% if flash[:notice] == 'membership' %>
  <script>
    alert('Membership switched.　會員制成功切換')
    $(document).on('turbolinks:load', function(){
      $('#admintab').trigger('click')
    })
  </script>
<% end %>

<% if flash[:notice] == 'board' %>
  <script>
    alert('The bulletin has been changed. 公告修改成功')
    $(document).on('turbolinks:load', function(){
      $('#admintab').trigger('click')
    })
  </script>
<% end %>
<% if flash[:notice] == 'do not fuck me' %>
  <script>
    alert("Please don't play me.")
  </script>
<% end %>

<% if flash[:notice] == 'forbidden' %>
  <script>
    alert("禁止指定非管理人員新增設施")
  </script>
<% end %>
  <script>
$(document).on("turbolinks:load", function(){

window.week=0
  $(document).on('click', '.next-edit',
    function(){
      console.log('ttt')
      console.log(window.week)
      window.week = window.week + 1
      let theDate = { "week" : window.week}
      $.ajax("facilities/" + window.admin_id + "/edit/table", {success: function(response){
        window.res = response
        $('#edit-table').fadeOut("fast", function(){
          $('#edit-table').html(window.res).promise().done(
            function(){
              $('#edit-table').fadeIn("slow")
            }
          );
        });
      }, data: theDate})
    }
  )

  $(document).on('click', '.last-edit',
    function() {
      console.log(window.week)
      window.week = window.week - 1
      let theDate = { "week" : window.week}
      $.ajax("facilities/"+ window.admin_id  + "/edit/table", {success: function(response){
        window.res = response
        $('#edit-table').fadeOut("fast", function(){
          $('#edit-table').html(window.res).promise().done(
            function(){
              $('#edit-table').fadeIn("slow")
              $(document).ready()
            }
          );
        });
      }, data: theDate})
    }
  )
  $(document).on("click", ".rent-delete",
    function() {
      window.the_btn = $(this)
      $.ajax({type: "DELETE",
        url: "/facilities/"+window.admin_id+"/rent/" + window.the_btn.attr('rentId') + "?authenticity_token=" + $('meta[name=csrf-token]').attr('content'),
        data: {rent_type : window.the_btn.data('renttype')},
        success: function(){
          var panel = '#'+window.the_btn.data('renttype')+window.the_btn.data('id')
          $(panel).fadeOut().promise().done(function(){$(panel).remove()})
        }
      })
    }
  )

  $(document).on("click", ".morebtn",
    function(){
      $('#adminmodal').modal('hide')
      window.location='/facilities/'+ window.nowadm.data('id') +'/edit/more'
    }
  )

  $(document).on("click", ".rent-permit",
    function(){
      window.the_btn = $(this)
      $.ajax( {type: "PUT",
        url: "/facilities/"+window.admin_id+"/rent/" + window.the_btn.data('id'),
        data:  {authenticity_token : $('meta[name=csrf-token]').attr('content'), rent_type : window.the_btn.data('renttype')},
        success: function(){
          window.the_btn.remove()
          $('#'+window.the_btn.data('renttype')+window.the_btn.data('id')).animate({backgroundColor: "#AAFFAA"})
        }
      })
  })
  $(document).on("click", ".switch-member",
    function(){
      $("#member").submit()
    }
  )
})
  $('#search-content').keypress(function(e){
    if(e.which==13){
      $.ajax({url : '/facilities',
        data : {search : true, content : $(this).val(), key : $('#key-word option:selected').val()},
        success : function(res){$('#facilities-list').html(res).promise().done(function(){$(document).ready()})
        },
        error: function(){alert("伺服器發生錯誤")}
      })
    }
  })


</script>

<% if flash[:notice]=="mail_success" %>
  <script>
    alert('mail 認證成功, 請至通知設定確認')
  </script>
<% elsif flash[:notice]=="verify_failed_token" %>
  <script>
    alert('不合法的認證途徑')
  </script>
<% elsif flash[:notice]=="verify_failed_login" %>
  <script>
    alert('帳戶錯誤')
  </script>
<% end %>

  <script>
//deletadm
$(document).on({click : function(){
  window.pane_serial = $(this).data('serial')
  window.singleId = $(this).data('rentid')
  window.week_serial_is = $(this).data('weeks')
  $.ajax({url : '<%=raw request.original_url%>' + "/" + window.admin_id +  "/rent/" + window.edit_id,
          method : 'DELETE',
          data : {count : window.operate, serial : window.pane_serial, single_id : window.rentId, weeks_admin : window.week_serial_is},
          success: function(){
            $.ajax({url: 'facilities/'+ window.admin_id +'/edit/table?week='+ window.week,
                    success: function(r){
                      $('#displayByTable').html(r).promise().done(function(){
                        $(document).ready()})
                    },
                    error: function(){alert("Delete response error(Adm).")} })
          },
          error: function(){alert("Delete failed.")} })
  }
},'.table-delete')

$(document).on({
  click : function(){
    window.pane_serial = $(this).data('serial')
    window.singleId = $(this).data('rentid')
    window.week_serial_is = $(this).data('weeks')
    console.log(window.singleId)
    $.ajax({url : '<%=raw request.original_url%>' + "/" + window.admin_id +  "/rent/" + window.edit_id,
            method : 'PUT',
            data : {serial : window.pane_serial,  single_id : window.singleId, permit : true, weeks_admin : window.week_serial_is},
            success : function(){
            $.ajax({url: 'facilities/'+ window.admin_id +'/edit/table?week='+ window.week,
                      success : function(r){
                        $('#displayByTable').html(r).promise().done(function(){
                        })
                      },
                      error : function(){alert('Permit response error.')} })
            },
            error : function(){alert('Permit failed.')}})
  }
}, '.admtable-permit')

$(document).on({
  click : function(){
    window.pane_serial = $(this).data('serial')
    window.singleId = $(this).data('rentid')
    window.week_serial_is = $(this).data('weeks')
    console.log(window.singleId)
    $.ajax({url : '<%=raw request.original_url%>' + "/" + window.admin_id +  "/rent/cancel/" + window.edit_id,
            method : 'PUT',
            data : {serial : window.pane_serial,  single_id : window.singleId, permit : true, weeks_admin : window.week_serial_is},
            success : function(){
            $.ajax({url: 'facilities/'+ window.admin_id +'/edit/table?week='+ window.week,
                      success : function(r){
                        $('#displayByTable').html(r).promise().done(function(){
                        })
                      },
                      error : function(){alert('Cancel response error.')} })
            },
            error : function(){alert('Permit failed.')}})
  }
}, '.admtable-cancel')
</script>
<script>
  window.controllpane=false


  $(document).on({
    mouseenter: function(){
      if($(this).data('serial')){
        $('.' + $(this).data('serial') ).css('background-color', '#CCCCCC')
      }else{
        $(this).css('background-color', '#CCCCCC')
      }
    },
    mouseleave: function(){
      if($(this).data('serial')){
        $('.' + $(this).data('serial')).each(function(i,v){
          if($(v).data('review')=='review'){
            $(v).css('background-color', '#FFAAAA')
          }else if($(v).data('rent')=='multireview'){
            $(v).css('background-color','#FFCCAA')
          }else if($(v).data('review')==true){
            $(v).css('background-color','#AAFFAA')
          }else{
            $(v).css('background-color','#FFFFFF')
          }
        })
      }else{
        if($(this).data('review')==true){
          $(this).css('background-color','#AAFFAA')
        }else if($(this).data('review')=='review'){
          $(this).css('background-color','#FFAAAA')
        }else if($(this).data('rent')=='multireview'){
          $(this).css('background-color', '#FFCCAA')
        }else{
          $(this).css('background-color', '#FFFFFF')
        }
      }
    },
    click: function(){
      window.edit_id = $(this).data('id')
      if($('#controllpane').css('display')=='none'){
        $('#rentcontroll')[0].click()
      }
      $('#controllpane').html('<h5>讀取中</h5>')
      $.ajax({
        url: '/facilities/'+ window.admin_id +'/rent/' + $(this).data('id'),
        data: { type : 'controll' , week : window.week},
        success: function(res){$('#controllpane').html(res)}
      })
    }
  }, ".clickcelledit")

</script>
