<div class="tab-content">
<div class="tab-pane fade in active" id="list" style="padding-top:25px; width:90vw; height:101vh;">
  <h2>Facilities List</h2>
  <table class="table table-hover" style="width:100%; max-height:100%;">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Description</th>
      <th>Verification</th>
      <th>MemberLimit</th>
    </tr>
  </thead>
  <tbody>
    <% facilities = Facility.limit(10) %>
    <% facilities.each do |t| %>
      <tr class='clickable-row' data-href="/facilities/<%= t.id%>">
      <th><%= t.id %></th>
      <td><%= t.name.to_s %></td>
      <td><%= t.description.to_s %></td>
      <td><%= t.verify.to_s %></td>
      <td><%= t.membership.to_s %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<div class="tab-pane fade" id="admin" style="width:90vw; height:101vh; padding-top:25px;">
  <h2>Administration List</h2>
  <% if current_user.present?%>
    <table class="table table-hover" style="width:100%; max-height:100%;">
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Description</th>
          <th>Verification</th>
          <th>MemberLimit</th>
        </tr>
      </thead>
      <tbody>
      <% if User.find_by(portal_id: current_user).nil? %>
        <span>There is no facility.</span>
      <% else %>
        <% if User.find_by(portal_id: current_user).present? %>
        <% User.find_by(portal_id: current_user).facilities.each do |t|  %>
          <tr class='clickable-adm' data-href="/facilities/<%= t.id%>/edit" data-id="<%=t.id %>" >
          <th><%= t.id %></th>
          <td><%= t.name.to_s %></td>
          <td><%= t.description.to_s %></td>
          <td><%= t.verify.to_s %></td>
          <td><%= t.membership.to_s %></td>
          </tr>
        <% end %>
        <% end %>
      <% end %>
      </tbody>
    </table>
  <% end %>
</div>
<div class="tab-pane fade" id="create" style="width:90vw; height:101vh; padding-top:25px;">
  <h2>New Facilities</h2>
  <%=render 'new' if current_user.present? %>
  <p><%= "Please login first to create your own facilities..." if current_user.nil? %></p>
</div>
<% content_for :index do %>
  <ul class="nav navbar-nav nav-pills navbar-btn">
    <li class="active"><a data-toggle="tab" class="active" href="#list" id="listtab">List </a></li>
    <li><a data-toggle="tab" href="#admin" id="admintab">Admin</a></li>
    <li><a data-toggle="tab" href="#create" id="newtab"> New </a></li>
  </ul>
<% end %>
<div class="modal fade" id="adminmodal">
  <span>error</span>
</div>
  <script>
$(document).on('turbolinks:load', function(){
  $(".clickable-adm").click(function() {
    let the_row = $(this)
    window.nowadm = $(this)
    $.ajax( { url :$(this).data('href'), success: function(res){
      $('#adminmodal').html(res).promise().done(function (){
          $('#adminmodal').modal('show')
          window.admin_id = the_row.data('id')
        $(document).ready()

        $.ajax({url :window.nowadm.data('href')+'/table', success: function(r){
          $('#displayByTable').html(r).promise().done(function(){
            $(document).ready()
          })
        }})

        })
//        $('#adminmodal').html(res)
//        $('#adminmodal').modal('show')
//        $(document).ready()
    }})
  })

  $(".clickable-row").click(function(){
    window.location=$(this).data('href')
  })
})
  </script>

<% if flash[:notice]=='out' %>
  <%=render 'logout' %>
  <script>
$(document).on('turbolinks:load', function(){
  $('#logout').modal('show');
  $('a#logout-portal-link').click(function() {
    $('#logout').modal('hide');
  });
})
  </script>
<% end %>

<% if flash[:notice] == 'unlogin' %>
  <script>
    alert('Please login first.')
  </script>
<% end %>

<% if flash[:notice] == 'limit' %>
  <script>
    alert('The user is not allowed for the membership of the facility.')
  </script>
<% end %>

<% if flash[:notice] == 'membership' %>
  <script>
    alert('Membership switched.')
    $(document).on('turbolinks:load', function(){
      $('#admintab').trigger('click')
    })
  </script>
<% end %>

<% if flash[:notice] == 'board' %>
  <script>
    alert('The bulletin has been changed.')
    $(document).on('turbolinks:load', function(){
      $('#admintab').trigger('click')
    })
  </script>
<% end %>
<% if flash[:notice] == 'do not fuck me' %>
  <script>
    alert("Please don't play me.")
  </script>
<% end %>


  <script>
$(document).on("turbolinks:load", function(){
  $(document).on("click", ".rent-delete",
    function() {
      window.the_btn = $(this)
      $.ajax({type: "DELETE",
        url: "/facilities/"+window.admin_id+"/rent/" + window.the_btn.attr('rentId') + "?authenticity_token=" + $('meta[name=csrf-token]').attr('content'),
        data: {rent_type : window.the_btn.data('renttype')},
        success: function(){
          var panel = '#'+window.the_btn.data('renttype')+window.the_btn.data('id')
          $(panel).fadeOut().promise().done(function(){$(panel).remove()})
        }
      })
    }
  )

  $(document).on("click", ".morebtn",
    function(){
      $('#adminmodal').modal('hide')
      window.location='/facilities/'+ window.nowadm.data('id') +'/edit/more'
    }
  )

  $(document).on("click", ".rent-permit",
    function(){
      window.the_btn = $(this)
      $.ajax( {type: "PUT",
        url: "/facilities/"+window.admin_id+"/rent/" + window.the_btn.data('id'),
        data:  {authenticity_token : $('meta[name=csrf-token]').attr('content'), rent_type : window.the_btn.data('renttype')},
        success: function(){
          window.the_btn.remove()
          $('#'+window.the_btn.data('renttype')+window.the_btn.data('id')).animate({backgroundColor: "#AAFFAA"})
        }
      })
  })
  $(document).on("click", ".switch-member",
    function(){
      $("#member").submit()
    }
  )
})
</script>
