
  <table class="table table-hover" style="width:100%; max-height:100%;">
  <thead>
    <tr>
      <th></th>
      <th>名稱</th>
      <th>描述</th>
      <th>審核制</th>
      <th>會員制</th>
    </tr>
  </thead>
  <tbody>
    <% if params[:key]=='name' %>
      <% facilities = Facility.where('name LIKE ?', "%#{params[:content]}%").all %>
    <% elsif params[:key]=='description' %>
      <% facilities = Facility.where('description LIKE ?', "%#{params[:content]}%").all %>
    <% elsif params[:key]=='id' %>
      <% facilities = Facility.where(id: params[:content])%>
    <% end %>
    <%if facilities.present? %>
    <% facilities.each do |t| %>
      <tr  class='clickable-row' type="button"  data-href="/facilities/<%= t.id%>?next_week=0">
      <th><%= t.id %></th>
      <td><%= t.name.to_s %></td>
      <td><%= t.description.to_s %></td>
      <td><%= t.verify.to_s %></td>
      <td><%= t.membership.to_s %></td>
      </tr>
    <% end %>
    <% else %>
      <h5>找不到目標</h5>
    <% end %>
  </tbody>
  </table>
