div class="container" style="padding-top: 25px;">
  <% pass = 'style="background-color: #DDFFDD"' %>
  <% review = 'style="background-color: #FFDDDD"' %>
  <% facility = Facility.find_by(id: params[:id]) %>
  <% facility_verify = facility.verify %>
  <p><h1><%= facility.name %></h1><h4>&nbsp;&nbsp;<%= facility.description %></h4></p>
  <div class="container" style="display: inline-block;">
    <div style="display: inline-block;">
      <label>月</label>
      <select class="form-control" id="findMonth" name="findMonth">
        <% for i in 1..12 %>
          <option id="<%=raw i %>"><%=raw i %></option>
        <% end %>
      </select>
    </div>
    <div style="display: inline-block;">
      <label>日</label>
      <select class="form-control" id="findDay" name="findDay">
        <% for i in 1..31 %>
          <option id="<%=raw i %>"><%=raw i %></option>
        <% end %>
      </select>
    </div>
    <button id="findTable" class="btn btn-secondary" style="display: inline-block;" >顯示該日之周</button>
  </div>
  <hr>
  <div class="container row">
    <button class="col-sm-3 cartbtn btn">購物車模式切換</button>
    <span id="carttitle" class="col-sm-4 col-sm-offset-2" style="display: inline-block; font-size: 25px; display:none; color:#AAAAFF;">購物車模式</span>
    <button class="btn col-sm-offset-1 col-sm-2 cartsub" style="display: none" id="cartsubmit">確認清單</button>
  </div>
  <nav class="tcenter">
    <ul class="pager nav navbar-left nav-tabs" style="display: inline-block;">
      <li><a class="btn last" data-toggle="tab" >LastWeek</a></li>
    </ul>
    <ul style="display: inline-block;"><li style="list-style-type: none;"><span style="font-size:40px"><%='Week' %></span></li></ul>
    <ul class="pager nav navbar-right nav-tabs" style="display: inline-block;">
      <li><a class="btn next" data-toggle="tab" >NextWeek</a></li>
    </ul>
  </nav>
  <div id="weekTable">
    <% wday = DateTime.now.next_day(params[:next_week].to_i*7).cwday %>
    <% year = DateTime.now.next_day(params[:next_week].to_i*7).year %>
    <% month = DateTime.now.next_day(params[:next_week].to_i*7).month %>
    <% day = DateTime.now.next_day(params[:next_week].to_i*7).day %>
    <% data_day = DateTime.new(year, month, day)%>
    <% i = 0 %>
    <div id="week">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th></th>
            <th style="text-align:center;"><%= (d1 = data_day.next_day(1-wday)).strftime("%m/%d") %></th>
            <th style="text-align:center;"><%= (d2 = data_day.next_day(2-wday)).strftime("%m/%d") %></th>
            <th style="text-align:center;"><%= (d3 = data_day.next_day(3-wday)).strftime("%m/%d") %></th>
            <th style="text-align:center;"><%= (d4 = data_day.next_day(4-wday)).strftime("%m/%d") %></th>
            <th style="text-align:center;"><%= (d5 = data_day.next_day(5-wday)).strftime("%m/%d") %></th>
            <th style="text-align:center;"><%= (d6 = data_day.next_day(6-wday)).strftime("%m/%d") %></th>
            <th style="text-align:center;"><%= (d7 = data_day.next_day(7-wday)).strftime("%m/%d") %></th>
          </tr>
          <tr>
            <th></th>
            <th style="text-align:center;">Monday</th>
            <th style="text-align:center;">Tuesday</th>
            <th style="text-align:center;">Wedsday</th>
            <th style="text-align:center;">Thursday</th>
            <th style="text-align:center;">Friday</th>
            <th style="text-align:center;">Saturday</th>
            <th style="text-align:center;">Sunday</th>
          </tr>
        </thead>
        <tbody>
          <% for j in 1..15 %>
            <% k = j.to_s%>
            <% hex = j.to_s(16) %>
            <tr>
              <th style="text-align:center;"><%= j.to_s(16).upcase %></th>
              <td class="clickcell open-Rent <%=raw'tablebg' if wday==1%>" data-wday="<%=d1.strftime("%Y/%m/%d")%>" data-time="<%=j%>"
                <% if (day1 = facility.rents.where(day: d1, period: hex)).present?%>
                  <% if facility.rents.find_by(day: d1, period: hex, verified: true).nil? && facility_verify%>
                    data-rented="review" style="background-color: #FFAAAA"
                  <% else %>
                    data-rented="true" style="background-color: #AAFFAA"
                  <% end %>
                <% end %>
                id="<%= d1.strftime("%Y-%m-%d-")+j.to_s %>"
                >
                <% if (rent =day1.find_by(verified: true)).present? %>
                  <%= rent.user_id %>
                <% else %>
                  <%= day1.first.user_id if day1.first.present? %>
                <% end %>
              </td>
              <td class="clickcell open-Rent <%=raw'tablebg' if wday==2%>" data-wday="<%=d2.strftime("%Y/%m/%d")%>" data-time="<%=j%>"
                <% if (day2 = facility.rents.where(day: d2, period: hex)).present?%>
                  <% if facility.rents.find_by(day: d2, period: hex, verified: true).nil? && facility_verify%>
                    data-rented="review" style="background-color: #FFAAAA"
                  <% else %>
                    data-rented="true" style="background-color: #AAFFAA"
                  <% end %>
                <% end %>
                id="<%= d2.strftime("%Y-%m-%d-")+j.to_s %>"
                >
                <% if (rent =day2.find_by(verified: true)).present? %>
                  <%= rent.user_id %>
                <% else %>
                  <%= day2.first.user_id if day2.first.present? %>
                <% end %>
              </td>
              <td class="clickcell open-Rent <%=raw'tablebg' if wday==3%>" data-wday="<%=d3.strftime("%Y/%m/%d")%>" data-time="<%=j%>"
                <% if (day3 = facility.rents.where(day: d3, period: hex)).present?%>
                  <% if facility.rents.find_by(day: d3, period: hex, verified: true).nil? && facility_verify%>
                    data-rented="review" style="background-color: #FFAAAA"
                  <% else %>
                    data-rented="true" style="background-color: #AAFFAA"
                  <% end %>
                <% end %>
                id="<%= d3.strftime("%Y-%m-%d-")+j.to_s %>"
                >
                <% if (rent =day3.find_by(verified: true)).present? %>
                  <%= rent.user_id %>
                <% else %>
                  <%= day3.first.user_id if day3.first.present? %>
                <% end %>
              </td>
              <td class="clickcell open-Rent <%=raw'tablebg' if wday==4%>" data-wday="<%=d4.strftime("%Y/%m/%d")%>" data-time="<%=j%>"
                <% if (day4 = facility.rents.where(day: d4, period: hex)).present?%>
                  <% if facility.rents.find_by(day: d4, period: hex, verified: true).nil? && facility_verify %>
                    data-rented="review" style="background-color: #FFAAAA"
                  <% else %>
                    data-rented="true" style="background-color: #AAFFAA"
                  <% end %>
                <% end %>
                id="<%= d4.strftime("%Y-%m-%d-")+j.to_s %>"
                >
                <% if (rent =day4.find_by(verified: true)).present? %>
                  <%= rent.user_id %>
                <% else %>
                  <%= day4.first.user_id if day4.first.present? %>
                <% end %>
              </td>
              <td class="clickcell open-Rent <%=raw'tablebg' if wday==5%>" data-wday="<%=d5.strftime("%Y/%m/%d")%>" data-time="<%=j%>"
                <% if (day5 = facility.rents.where(day: d5, period: hex)).present?%>
                  <% if facility.rents.find_by(day: d5, period: hex, verified: true).nil? && facility_verify%>
                    data-rented="review" style="background-color: #FFAAAA"
                  <% else %>
                    data-rented="true" style="background-color: #AAFFAA"
                  <% end %>
                <% end %>
                id="<%= d5.strftime("%Y-%m-%d-")+j.to_s %>"
                >
                <% if (rent =day5.find_by(verified: true)).present? %>
                  <%= rent.user_id %>
                <% else %>
                  <%= day5.first.user_id if day5.first.present? %>
                <% end %>
              </td>
              <td class="clickcell open-Rent <%=raw'tablebg' if wday==6%>" data-wday="<%=d6.strftime("%Y/%m/%d")%>" data-time="<%=j%>"
                <% if (day6 = facility.rents.where(day: d6, period: hex)).present?%>
                  <% if facility.rents.find_by(day: d6, period: hex, verified: true).nil? && facility_verify%>
                    data-rented="review" style="background-color: #FFAAAA"
                  <% else %>
                    data-rented="true" style="background-color: #AAFFAA"
                  <% end %>
                <% end %>
                id="<%= d6.strftime("%Y-%m-%d-")+j.to_s %>"
                >
                <% if (rent =day6.find_by(verified: true)).present? %>
                  <%= rent.user_id %>
                <% else %>
                  <%= day6.first.user_id if day6.first.present? %>
                <% end %>
              </td>
              <td class="clickcell open-Rent <%=raw'tablebg' if wday==7%>" data-wday="<%=d7.strftime("%Y/%m/%d")%>" data-time="<%=j%>"
                <% if (day7 = facility.rents.where(day: d7, period: hex)).present?%>
                  <% if facility.rents.find_by(day: d7, period: hex, verified: true).nil? && facility.verify %>
                    data-rented="review" style="background-color: #FFAAAA"
                  <% else %>
                    data-rented="true" style="background-color: #AAFFAA"
                  <% end %>
                <% end %>
                id="<%= d7.strftime("%Y-%m-%d-")+j.to_s %>"
                >
                <% if (rent =day7.find_by(verified: true)).present? %>
                  <%= rent.user_id %>
                <% else %>
                  <%= day7.first.user_id if day7.first.present? %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="modal fade" id="rent">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Rent form</h4>
      </div>
      <div class="modal-body">
        <p id="user" class="well"></p>
        <%= form_tag('/facilities/' + params[:id].to_s + '/rent', method: :post) do %>
          <div class="input-group">
            <label for="day"><b>日</b></label>
            <input type="text" class="form-control" id="day" name="day" value=""></input>
          </div>
          <div class="input-group">
            <span><b>時段</b></span>
            <select class="form-control" id="period" name="period">
              <% for i in 1..15 %>
                <option <%=raw 'id=' + '"' + i.to_s + '"' %>><%= i.to_s(16).upcase %></option>
              <% end %>
            </select>
          </div>
          <div class="form-group">
            <label for="des">申請事由</label>
            <textarea class="form-control" placeholder="Simple description about usage..." type="text" name="description" rows="5" id="des"></textarea>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" id="largerent" name="largerent" value="true">連借數周(注意: 周之間可拆散審核, 最大: 9)</input></label>
            <div class="row">
            <div class="col-xs-2">
              <input  class="form-control" type="number" min="1" max="9" id="weekly" onkeydown="return false"  name="weekly">
            </div>
            </div>
          </div>
          <div class="input-group">
            <label>向下連續不拆散租借(將會視作一筆不拆散, 最多四節)</label>
            <select class="form-control" id="cartrent" name="cartrent">
              <option id="1">1</option>
              <option id="2">2</option>
              <option id="3">3</option>
              <option id="4">4</option>
            </select>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
            <button type="submit" class="btn btn-primary">提交</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="queue" role="dialog">
</div>

<div class="modal fade" id="infomation" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Information</h4>
      </div>
      <div class="modal-body">
        <h4 id="renter">I hate JS</h4>
        <h4 id="reason">YES</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="rentchange" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">關閉</span></button>
        <h4 class="modal-title">Rent change</h4>
      </div>
      <div class="modal-body">
        <p id="user" class="well"><%= current_user%></p>
        <%=form_tag('/facilities/' + params[:id].to_s + '/rent', method: :put, class: 'form-controll') do%>
          <div class="form-group">
          <input id="change_rent_day_change" name="rent_day" type="hidden" value=""/>
            <label>更改事由</label><br>
            <textarea type="text" rows="6" name="description"></textarea><br>
            <button class="btn btn-info">更動</button>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <div class="col-sm-2">
        <%=form_tag('/facilities/' + params[:id].to_s + '/rent', method: :delete, class: 'form-controll') do%>
          <input id="change_rent_day_close" name="rent_day" type="hidden" value=""/>
          <button class="btn btn-warning">刪除租用</button>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="board" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title"><%= facility.name %></h4>
      </div>
      <div class="modal-body">
        <% if(facility.board!="" && !facility.board.nil?) %>
          <h5><%= facility.board %></h5>
        <% else %>
          <h5>No announcement</h5>
        <% end %>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="cartlist" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Cart check</h4>
        <h5>Following is the time you'd like to submit.<h5>
      </div>
      <%=form_tag('/facilities/' + params[:id].to_s + '/rent', method: :post, class: 'form-controll') do%>
      <%= hidden_field_tag 'cart', true %>
      <div class="modal-body" >
        <div id="incartlist" style="overflow: auto; height:50vh;">
        </div>
        <div class="form-group">
          <label>Despriction</label>
          <textarea class="form-control" rows="6" name="description">""</textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn brn-primary">Sure</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    <% end %>
    </div>
  </div>
</div>

<% if flash[:notice]=='failed' %>
    <script>  alert('The period or periods are not available. ')</script>
<% end %>
<% if facility.verify %>
  <script>
var verify = "true"
  </script>
<% else %>
  <script>
var verify = "false"
  </script>
<% end %>

<script>
window.carttitlecart = false
window.cart = false
<% if !current_user.nil? %>
    <%   login = '"' + current_user + '"' %>
<% else %>
    <%   login = '""' %>
<% end %>
  <%=raw 'alert("You can not rent the past.")' if flash[:notice]=='past'  %>
  window.verify = false
  <%=raw 'window.verify=true' if facility.verify%>

  var login = <%=raw login%>
window.currentLogin = <%=raw login %>
window.globalVar="null"
window.facilityId = <%=raw params[:id] %>
window.week = <%=raw params[:next_week]%>
window.cartarr=[]
var stime = "null"
$(document).on('turbolinks:load', function(){
  $('#findTable').click(
    function(){
      var month = $("#findMonth").val();
      var day = $("#findDay").val();
      var theDate = {month: month, day: day};
      var id = window.facilityId;
      $.ajax(id + "/table", {success: function(response){
        $('#weekTable').html(response);
        if(window.cartarr[window.week+55]!=null){
          $(document).ready()
          window.cartarr[window.week+55].forEach(function(e){$('#'+e).css('background-color','#AAAAFF')})
        }
      }, data: theDate})
    }
  );

  $(document).on({
    mouseenter: function() {
      var me = $(this)
      function origin(callback){
        window.origin=me.css('background-color')
        callback('background-color', '#CCCCCC')
      }
      origin(function(){
        me.css('background-color','#CCCCCC')
      })
    },
    mouseleave: function() {
      if(window.cart){
        if(window.cartarr[window.week+55]!=null){
          if(window.cartarr[window.week+55].indexOf($(this).attr('id'))!=-1){
            console.log('blue')
            $(this).css('background-color', '#AAAAFF')
          }else{
          if($(this).data('rented')==true){
            $(this).css('background-color', '#AAFFAA')
          }else if($(this).data('rented')=="review"){
            $(this).css('background-color', '#FFAAAA')
          }else if($(this).hasClass('tablebg')){
            $(this).css('background-color','#EEEEEE')
          }else{
            $(this).css('background-color','transparent');
          }
          }
        }else{
          if($(this).data('rented')==true){
            $(this).css('background-color', '#AAFFAA')
          }else if($(this).data('rented')=="review"){
            $(this).css('background-color', '#FFAAAA')
          }else if($(this).hasClass('tablebg')){
            $(this).css('background-color','#EEEEEE')
          }else{
            $(this).css('background-color','transparent');
          }
        }
      }else{
        if($(this).data('rented')==true){
          $(this).css('background-color', '#AAFFAA')
        }else if($(this).data('rented')=='review'){
          $(this).css('background-color','#FFAAAA')
        }else{
          if($(this).hasClass('tablebg')){
            $(this).css('background-color','#EEEEEE')
          }else{
            $(this).css('background-color','transparent')
          }
        }
      }
    }
  },'.clickcell');

  //no negative index, so plus 55
  $(document).on('click', '.clickcell',
    function() {
      if(window.cart){
        if(window.cartarr[window.week+55]==undefined){
          if($(this).data('rented')!=true){
            $(this).css('background-color', "#AAAAFF")
            window.cartarr[window.week+55]=[$(this).attr("id")]
          }else{
            alert('The period is not available.')
          }
        }else if(window.cartarr[window.week+55].indexOf($(this).attr('id')) >= 0){
          var index = window.cartarr[window.week+55].indexOf($(this).attr('id'))
          if($(this).data('rented')=='review'){
            $(this).css('background-color', '#FFAAAA')
          }else{
            $(this).css('background-color', '#FFFFFF')
          }
          console.log(window.cartarr[window.week+55][index] )
          window.cartarr[window.week+55].splice(index,1)
          console.log(window.cartarr[window.week+55][index] )
        }else{
          if($(this).data('rented')!=true){
            $(this).css('background-color', "#AAAAFF")
            window.cartarr[window.week+55].push($(this).attr("id"))
          }else{
            alert('The period is not available.')
          }
        }
    console.log(window.cartarr[window.week+55])
      }else{
        if($(this).data('rented')==true && $(this).data('rented')!='review'){
          var entity = $(this)
          var reg = /\s*(\S*)\s*/g
          var match = reg.exec($(this).text())
          if(window.currentLogin == match[1]){
            $('#rentchange').modal('show')
            $('#change_rent_day_close').attr('value',$(this).attr('id'))
            $('#change_rent_day_change').attr('value',$(this).attr('id'))
          }else{
            alert('You can not change the rent.')
          }
        }
        else if($(this).data('rented') == 'review'){
          console.log('t')
          $.ajax({url: '/facilities/'+ '<%=raw params[:id] %>'+'/rent',
            data: {time: $(this).data('time'),
              day: $(this).data('wday')},
            success: function(res){$('#queue').html(res)
              $('#queue').modal('show')
            }})
        }
        else if(login != ""){
          var wday = $(this).data('wday')
          var time = $(this).data('time')
          function f1(time){
            console.log($('#period').children(window.globalVar).prop("selected",false))
          }
          function f2(time){
            window.globalVar = '#' +  time;
          }
          function f3(time){
            console.log($('#period').children(window.globalVar).prop("selected",true))
          }
          var callbacks = $.Callbacks();
          callbacks.add(f1)
          callbacks.add(f2)
          callbacks.add(f3)
          callbacks.fire($(this).data('time'))
          $("#user").text("Current user: " + login);
          $("#day").val(wday)
          $("#time").val(time)
          $('#rent').modal('show')
        }
        else{
          alert("Please login first. 請先登入");
        }
      }
    });

  <% if params[:notice].nil?%>
      $('#board').modal('show')
  <% end %>
  $(document).on('click', '.cartbtn', function(){
    window.cart = !window.cart
    if(window.cart){
      $('#cartsubmit').fadeIn('500')
      $('#carttitle').fadeIn('500')
      $('html body').animate({
        backgroundColor: "#DDFFDD"
      }, 500 )
    }else{
      $('#cartsubmit').fadeOut('500')
      $('#carttitle').fadeOut('500')
      $('html body').animate({
        backgroundColor: "#FFFFFF"
      }, 500).promise().done(function(){
        window.cartarr.forEach(function(e){e.forEach(function(cell){$('#'+cell).css('background-color','transparent')})})
      }).promise().done(function(){window.cartarr=[]})
    }
  })

  $(document).on('click', '.next',
    function() {
      window.week = window.week + 1
      let theDate = { "week" : window.week}
      $.ajax(window.facilityId + "/table", {success: function(response){
        window.res = response
        $('#weekTable').fadeOut("fast", function(){
          $('#weekTable').html(window.res).promise().done(
            function(){
              if(window.cartarr[window.week+55]!=null){
                $(document).ready()
                window.cartarr[window.week+55].forEach(function(e){$(document.getElementById(e)).css('background-color','#AAAAFF')})
              }
              $("#weekTable").fadeIn("slow")
            }
          );
        });
      }, data: theDate})
    }
  )
  $(document).on('click', '.last',
    function() {
      window.week = window.week - 1
      let theDate = { "week" : window.week}
      $.ajax(window.facilityId + "/table", {success: function(response){
        window.res = response
        $('#weekTable').fadeOut("fast", function(){
          $('#weekTable').html(window.res).promise().done(
            function(){
              if(window.cartarr[window.week+55]!=null){
                $(document).ready()
                window.cartarr[window.week+55].forEach(function(e){$(document.getElementById(e)).css('background-color','#AAAAFF')})
              }
              $("#weekTable").fadeIn("slow")
            }
          );
        });
      }, data: theDate})
    }
  )
  $(document).on('click', '#queue',
    function(){
      $.post(window.facilityId + '/rent', {day : $(this).data('day'), period : $(this).data('time'), description : ""}).done(function(){
        alert('Submit successed')
        location.reload()})
    }
  )

  $(document).on('click', '.cartsub',
    function(){
      $('#incartlist').html('');
      $('#cartlist').modal('show')
      window.cartarr.forEach(function(week){
        week.forEach(function(p){
          $('#incartlist').append('<p>'+ p +  '</p>')
          $('#incartlist').append('<input type="hidden" name="periods[]" value=' + p + '>')
        })
      })
    }
  )

})
  <% if(params[:notice] == 'failed') %>
    <script>
      function(){alert("Please don't fuck me")}()
    </script>
  <% end %>
</script>

