<% facility = Facility.find_by(id: params[:id]) %>
<% rents = facility.rents %>
<% the_rent = facility.rents.find_by(id: params[:rent_id]) %>
<% periods = [] %>
<% if the_rent.cart_serial != '000000' %>
<script>window.operate = 'serial'</script>
  <% rents.where(cart_serial: the_rent.cart_serial).each do |r| %>
    <% periods.push  r.period %>
  <% end %>
<% else %>
<script>window.operate = 'single'</script>
  <% periods.push the_rent.period %>
<% end %>

<% all_rents = rents.where(period: periods, day: the_rent.day).group_by(&:cart_serial)%>
<% all_rents.each do |k, v| %>
  <% v.sort_by! {|r| r[:period].to_i} %>
<li class="dropdown-submenu">
    <a tabindex="-1">
      Period: <%= v.first.period %><%=('-' + v.last.period ) if v.last!=v.first %>
      User_id: <%= v.first.user_id%>
    </a>
    <ul class="dropdown-menu">
      <li tabindex="-1" class="dropdown-submenu">
        <a>Descritption</a>
        <ul class="dropdown-menu">
          <%= v.first.description %>
        </ul>
      </li>
      <% if facility.verify && !v.first.verified%>
        <% local_periods = [] %>
        <% v.each do |r| %>
          <% local_periods.push r.period %>
        <% end %>
        <% if !(rents.where(day: the_rent.day, period: local_periods).any? {|r| r.verified}) %>
          <li><div class="container-fluid"><button data-rentid="<%=raw v.first.id %>" data-serial='<%=raw k %>' type="button" class="btn btn-primary admtable-permit">Permit</button></div></li>
        <% end %>
      <% end %>
      <li><div class="container-fluid"><button  data-rentid="<%=raw v.first.id %>"  data-serial='<%=raw k %>' type="button" class="btn btn-warning table-delete">Delete</button></div></li>
    </ul>
</li>
<% end %>
  <script>
//deletadm
$(document).on({click : function(){
  window.pane_serial = $(this).data('serial')
  window.singleId = $(this).data('rentid')
  $.ajax({url : '<%=raw request.original_url%>',
          method : 'DELETE',
          data : {count : window.operate, serial : window.pane_serial, single_id : window.rentId},
          success: function(){
            $.ajax({url: 'facilities/<%=raw params[:id]%>/edit/table',
                    success: function(r){
                      $('#displayByTable').html(r).promise().done(function(){
                        $(document).ready()})
                    },
                    error: function(){alert("Delete response error(Adm).")} })
          },
          error: function(){alert("Delete failed.")} })
  }
},'.table-delete')

$(document).on({
  click : function(){
    window.pane_serial = $(this).data('serial')
    window.singleId = $(this).data('rentid')
    console.log(window.singleId)
    $.ajax({url : '<%=raw request.original_url%>',
            method : 'PUT',
            data : {serial : window.pane_serial,  single_id : window.singleId, permit : true},
            success : function(){
              $.ajax({url : 'facilities/<%=raw params[:id]%>/edit/table',
                      success : function(r){
                        $('#displayByTable').html(r).promise().done(function(){
                        $(document).ready()
                        })
                      },
                      error : function(){alert('Permit response error.')} })
            },
            error : function(){alert('Permit failed.')}})
  }
}, '.admtable-permit')

</script>
