<% facility = Facility.find_by(id: params[:id]) %>
<% reg = /^(.*)\/(.*)\/(.*)/ %>
<% the_day = DateTime.new(params[:day][reg,1].to_i, params[:day][reg,2].to_i, params[:day][reg,3].to_i) %>
<% rents = facility.rents.where(day: the_day, period: params[:time].to_i)  %>

<% if rents.where(user_id: current_user).present? %>

<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4 class="modal-title">Information</h4>
    </div>
    <div class="modal-body">
      <%= form_tag("/facilities/#{params[:id]}/rent", method: :put, id: "des-change") do%>
      <h4>您已經租用該時段</h4>
      <h5>日: <%= the_day.strftime("%Y/%m/%d") %></h5>
      <h5>時段: <%= params[:time].to_i.to_s(16) %></h5>
      <br>
      <h5>以下為等待審核的租用</h5>
      <table class="table">
        <thead>
          <tr>
            <th>申請編號</th>
            <th>申請人</th>
            <th>申請時間</th>
          </tr>
        </thead>
        <tbody>
          <% rents.each do |d| %>
            <tr>
              <th><%=d.id%></th>
              <td><%=d.user_id%></td>
              <td><%=d.created_at%></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="form-group">
        <label for="description">更改租用事由</label>
        <textarea class="form-control" rows="5" id="description" name="description"></textarea>
      </div>
      <%= hidden_field_tag 'day', the_day.strftime("%Y/%m/%d") %>
      <%= hidden_field_tag 'period', params[:time]%>
      <%= hidden_field_tag 'rentchange', true%>
    <% end %>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-info print-btn" id="print" data-day="<%=raw the_day.strftime("%Y/%m/%d")%>" data-time="<%=raw params[:time] %>" data-rid="<%=raw rents.find_by(user_id: current_user).id %>">列印申請表</button>
      <button type="sumbit" class="btn btn-default sub-des"  data-day="<%=raw the_day.strftime("%Y/%m/%d")%>" data-time="<%=raw params[:time] %>">更改事由</button>
      <button role="button" type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
    </div>
  </div>
</div>
<% else %>

<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4 class="modal-title">Information</h4>
    </div>
      <%= form_tag("/facilities/#{params[:id]}/rent", id: "in-queue") do%>
    <div class="modal-body">
      <h4>The period is reviewing.</h4>
      <h5>Day: <%= the_day.strftime("%Y/%m/%d") %></h5>
      <h5>Period: <%= params[:time].to_i.to_s(16) %></h5>
      <table class="table">
        <thead>
          <tr>
            <th>申請編號</th>
            <th>申請人</th>
            <th>申請時間</th>
          </tr>
        </thead>
        <tbody>
          <% rents.each do |d| %>
            <tr>
              <th><%=d.id%></th>
              <td><%=d.user_id%></td>
              <td><%=d.created_at%></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="form-group">
        <label for="description">租用事由</label>
        <textarea class="form-control" rows="5" id="description" name="description"></textarea>
      </div>
    </div>
    <% end %>
    <div class="modal-footer">
      <%= hidden_field_tag 'day', the_day.strftime("%Y/%m/%d") %>
      <%= hidden_field_tag 'period', params[:time]%>
      <button class="btn btn-default" id="queue-btn" data-day="<%=raw the_day.strftime("%Y/%m/%d")%>" data-time="<%=raw params[:time] %>">排隊</button>
      <button class="btn btn-default" data-dismiss="modal">關閉</button>
    </div>
  </div>
</div>

<% end %>
