<!DOCTYPE html>
<% content_for :logined do %>
  <ul class="col-sm-4  nav navbar-right">
    <li class="nav-item navbar-right"><a  href="/instruction" style="color: #888888; font-size:20px;">使用說明</a></li>
  <li class="nav-item  dropdown navbar-right">
    <a class="btn btn-outline-secondary navbar-btn dropdown-toggle" href="#" role="button" id="logmenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: #888888; font-size:20px; font-weight: 500; border-radius:4px; border:0px; padding: 1vh;" ><%=current_user %><span class="caret"></span></a>
    <ul class="dropdown-menu" aria-labelledby="logmenu">
      <li><a class="dropdown-item navbar-link" style="color:#888888;" href="#">Information</li>
      <li role="presentation" class="divider"></li>
      <li><a class="dropdown-item navbar-link" style="color:#888888;" href="/logout">Logout</a></li>
    </ul>
  </li>
  </ul>
<% end %>
<% content_for :unauth do%>
  <ul class="navbar-right nav">
    <li>
      <a class="btn btn-outline-secondary navbar-btn" href="/login" style="color:#999999; font-size:20px; font-weight:600; border-radius:2px; border:0px; padding:1vh;">Login</a>
    </li>
  </ul>
<% end %>
<html>
  <head>
    <title>Facility</title>
    <%= csrf_meta_tags %>
    <style>
      body {
        position: relative;
        padding: 30px 30px;
      }
    </style>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav id="navscroll" class="navbar navbar-toggleable navbar-inverse bg-inverse navbar-fixed-top" style="background-color:#333333; height:70px;" >
      <div class="container">
          <ul class="navbar-nav">
          <a class="navbar-link navbar-btn navbar-left" href="/facilities" style="font-weight:750; font-size:35px; color:#FFFFFF">NCU Register</a>
          </ul>
        <% if content_for? :index %>
          <%= yield :index %>
        <% end %>
        <% if content_for? :more%>
          <%= yield :more %>
        <% end %>
         <% if current_user.nil? %>
          <%= yield :unauth %>
        <% else %>
          <%= yield :logined%>
        <% end %>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
